.input-group .input-group-append {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.input-group .input-group-text {
  pointer-events: none;
  border: none;
  background-color: transparent;
}

.form-control:focus::placeholder {
  opacity: 0;
}