// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.element-spacing {
  margin-right: 50px; /* 適切な間隔に調整してください */
}

.element-spacing:last-child {
  margin-right: 0; /* 最後の要素の右側の余白を削除 */
}

.columns {
  display: flex;
  justify-content: center;
}

.label-spacing {
  margin-right: 10px;
}